# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
env/
venv/
ENV/
.env
.env.*

# Packaging
build/
dist/
*.egg-info/

*.hgt
*.tz
*.hgt.gz
*.gz
*.zip
*.tar.gz
*.tar
*.tar.xz    

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node / frontend
node_modules/
.npm/
.yarn/

# Databases / data caches
*.sqlite
*.db
*.db-journal

# GIS large files
*.shp
*.dbf
*.shx
*.prj

# Docker
.docker-compose.override.yml
