Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Marshmallow==0.15.0
marshmallow==3.21.1
marshmallow-sqlalchemy==0.29.0
GeoAlchemy2==0.14.4
psycopg2-binary==2.9.10
celery==5.6.0
redis==7.1.0
gunicorn==21.2.0
python-dotenv==1.0.1
Shapely==2.1.2
pyshp==2.3.1
python-docx==1.1.2
pandas==2.3.3
openpyxl==3.1.2
numpy==2.3.3
xlrd==2.0.1
requests==2.32.5
